
@if (details$ | async; as details) {
  <section class="update-form p-4 my-4">
    <app-cap-img class="my-12" [name]="details.name" [fileUri]="details.storageRef"></app-cap-img>
    @if (formGroup) {
      <form class="flex" style="flex-direction: column" [formGroup]="formGroup" (ngSubmit)="onSubmit(details)">
        <label for="input_name" class="bier-form-label">Name:</label>
        <input id="input_name" class="bier-form-input" type="text" formControlName="name">
        <label for="input_count" class="bier-form-label">Anzahl an Kronkorken:</label>
        <input id="input_count" class="bier-form-input" type="text" formControlName="count">
        <label for="input_link" class="bier-form-label">Link zur Webseite oder Aktion:</label>
        <input id="input_link" class="bier-form-input" type="text" formControlName="link">
        <label for="input_color" class="bier-form-label">Farbe des Kronkorken:</label>
        <input id="input_color" class="bier-form-input" type="text" formControlName="color">
        <label for="input_brewery" class="bier-form-label">Braurei:</label>
        <input id="input_brewery" class="bier-form-input" type="text" formControlName="brewery">
        <label for="input_comment" class="bier-form-label">Kommentarfeld:</label>
        <textarea id="input_comment" class="bier-form-input" formControlName="comment"></textarea>
        <label for="input_year" class="bier-form-label">Jahr:</label>
        <input id="input_year" class="bier-form-input" type="text" formControlName="year">
        <label for="input_type" class="bier-form-label">Typ (Aktion, Jubiläum usw.):</label>
        <input id="input_type" class="bier-form-input" type="text" formControlName="type">
        <label for="select_assignees" class="bier-form-label">Wer hat den? (Mehrfachauswahl)</label>
        <select id="select_assignees" class="bier-form-input" formControlName="assignees" multiple>
          <option value="H">Heini</option>
          <option value="K">Keks</option>
        </select>
        <button class="mt-4" [class.has-error]="formGroup.invalid" type="submit">Speichern</button>
      </form>
    } @else {
      <p>noFormGroup</p>
    }
  </section>
}

<button class="back mx-auto my-12 fat-outline" routerLink="/admin-list/1">Zurück</button>
