$capSize: 128px;
$capScaleFactor: 1.5;
:host, a, img {
  --cap-img-size: var(--cap-size, #{$capSize});
  --cap-scale-factor: var(--cap-scale, #{$capScaleFactor});
  @apply h-auto inline-block text-center pt-2 leading-tight text-base relative;
  width: var(--cap-img-size);
  max-width: 80%;
}

img {
  @apply object-cover rounded-full shadow-md transition-all scale-100 ease-in duration-500;

  &:hover {
    @apply z-50;
    transform: scale(var(--cap-scale-factor)) rotate(-12deg);
  }

  &.has-error {
    @apply bg-red-600;
  }
}
