.search-box {
  display: flex;
  margin: 2.5rem;

  .search-label {
    flex: 1 0 0;
    position: relative;

    .reset {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.9rem;
    }

    input {
      width: 100%;
    }
  }
}
