<div class="flex flex-row flex-wrap mb-4">
  <div class="filter mr-4">
    <p>Marken: </p>
    <select #brandSelectEl class="text-black p-2 rounded" (change)="onChange($event.target)">
      <option value=""></option>
      <optgroup label="A">
        <option value="Adambier">Adambier</option>
        <option value="Alsfelder">Alsfelder</option>
        <option value="Andechser">Andechser</option>
        <option value="Astra">Astra</option>
        <option value="Aventinus">Aventinus</option>
      </optgroup>
      <optgroup label="B">
        <option value="Bärenquell">Bärenquell</option>
        <option value="Baisinger">Baisinger</option>
        <option value="Barre Bräu">Barre Bräu</option>
        <option value="Beck’s">Beck’s</option>
        <option value="Berliner Kindl">Berliner Kindl</option>
        <option value="Berliner Weisse">Berliner Weisse</option>
        <option value="Bitburger">Bitburger</option>
        <option value="Bölkstoff">Bölkstoff</option>
        <option value="Brauer Bier">Brauer Bier</option>
        <option value="Brauhaus Riegele">Brauhaus Riegele</option>
        <option value="Breslauer Schöps">Breslauer Schöps</option>
        <option value="Brinkhoff's">Brinkhoff's</option>
      </optgroup>
      <optgroup label="C">
        <option value="Charlottenburger Pilsener">Charlottenburger Pilsener</option>
        <option value="Cluss">Cluss</option>
        <option value="Coschützer Pils">Coschützer Pils</option>
      </optgroup>
      <optgroup label="D">
        <option value="Degraa">Degraa</option>
        <option value="Detmolder Pilsener">Detmolder Pilsener</option>
        <option value="Diebels">Diebels</option>
        <option value="Dinkelacker">Dinkelacker</option>
        <option value="Dortmunder Hansa">Dortmunder Hansa</option>
        <option value="Dresdner Feldschlösschen">Dresdner Feldschlösschen</option>
        <option value="Duckstein">Duckstein</option>
      </optgroup>
      <optgroup label="E">
        <option value="Eickel Pils">Eickel Pils</option>
        <option value="Einbecker">Einbecker</option>
        <option value="Engelhardt">Engelhardt</option>
      </optgroup>
      <optgroup label="F">
        <option value="Fucking Hel">Fucking Hell</option>
        <option value="Füchschen Alt">Füchschen Alt</option>
      </optgroup>
      <optgroup label="G">
        <option value="Garley">Garley</option>
        <option value="Gatzweilers Alt">Gatzweilers Alt</option>
        <option value="Germania">Germania</option>
        <option value="Graf Arco Bier">Graf Arco Bier</option>
        <option value="Guinness">Guinness</option>
      </optgroup>
      <optgroup label="H">
        <option value="Haake-Beck">Haake-Beck</option>
        <option value="Hacker-Pschorr">Hacker-Pschorr</option>
        <option value="Haller Löwenbräu">Haller Löwenbräu</option>
        <option value="Hasseröder">Hasseröder</option>
        <option value="Hemelinger Spezial">Hemelinger Spezial</option>
        <option value="Henninger Karamell-Kraftbier">Henninger Karamell-Kraftbier</option>
        <option value="Herrnbräu">Herrnbräu</option>
        <option value="Hofbräu München">Hofbräu München</option>
      </optgroup>
      <optgroup label="I">
        <option value="Ingo Bräu">Ingo Bräu</option>
        <option value="Ingobräu">Ingobräu</option>
        <option value="Innstadt Brauerei">Innstadt Brauerei</option>
        <option value="Isenbeck">Isenbeck</option>
      </optgroup>
      <optgroup label="J">
        <option value="Jever">Jever</option>
      </optgroup>
      <optgroup label="K">
        <option value="Karamalz">Karamalz</option>
        <option value="Karlsberg UrPils">Karlsberg UrPils</option>
        <option value="Karlsquell">Karlsquell</option>
        <option value="Kloster Alt">Kloster Alt</option>
        <option value="Kloster St. Marienthal">Kloster St. Marienthal</option>
        <option value="Kniesenack-Bier">Kniesenack-Bier</option>
        <option value="König Pilsener">König Pilsener</option>
        <option value="Köstritzer Schwarzbier">Köstritzer Schwarzbier</option>
        <option value="Krombacher">Krombacher</option>
        <option value="Kuchlbauer">Kuchlbauer</option>
        <option value="Küppers Kölsch">Küppers Kölsch</option>
      </optgroup>
      <optgroup label="L">
        <option value="Licher">Licher</option>
        <option value="Licher Privatbrauerei">Licher Privatbrauerei</option>
        <option value="Lindener Spezial">Lindener Spezial</option>
        <option value="Löwenbrauerei Passau">Löwenbrauerei Passau</option>
        <option value="Lößnitz-Pils">Lößnitz-Pils</option>
        <option value="Lübzer">Lübzer</option>
      </optgroup>
      <optgroup label="M">
        <option value="Mallersdorfer Klosterbräu">Mallersdorfer Klosterbräu</option>
        <option value="Meisterbräu">Meisterbräu</option>
        <option value="Mixery">Mixery</option>
        <option value="Mölmsch">Mölmsch</option>
        <option value="Mühlen-Kölsch">Mühlen-Kölsch</option>
      </optgroup>
      <optgroup label="N">
        <option value="Nordbräu">Nordbräu</option>
      </optgroup>
      <optgroup label="O">
        <option value="Ochsenbräu">Ochsenbräu</option>
        <option value="Ostmark">Ostmark</option>
        <option value="Öttinger">Öttinger</option>
      </optgroup>
      <optgroup label="P">
        <option value="Päffgen Kölsch">Päffgen Kölsch</option>
        <option value="Peschl Brauerei">Peschl Brauerei</option>
        <option value="Peters Kölsch">Peters Kölsch</option>
        <option value="Pilsator">Pilsator</option>
        <option value="Pott’s">Pott’s</option>
      </optgroup>
      <optgroup label="R">
        <option value="Ratsherrn">Ratsherrn</option>
        <option value="Reissdorf Kölsch">Reissdorf Kölsch</option>
        <option value="Rhenania Alt">Rhenania Alt</option>
      </optgroup>
      <optgroup label="S">
        <option value="Scherdel Bier">Scherdel Bier</option>
        <option value="Schlappeseppel">Schlappeseppel</option>
        <option value="Schlüssel Alt">Schlüssel Alt</option>
        <option value="Schultenbräu">Schultenbräu</option>
        <option value="Schultheiss-Pilsener">Schultheiss-Pilsener</option>
        <option value="Schumacher Alt">Schumacher Alt</option>
        <option value="Schwaben Bräu">Schwaben Bräu</option>
        <option value="Schwarzer Steiger">Schwarzer Steiger</option>
        <option value="Schöfferhofer">Schöfferhofer</option>
        <option value="Schütze-Bräu">Schütze-Bräu</option>
        <option value="Sinamar">Sinamar</option>
        <option value="Spatenbräu">Spatenbräu</option>
        <option value="Stern-Brauerei Essen">Stern-Brauerei Essen</option>
        <option value="Sternburg">Sternburg</option>
        <option value="Sternquell">Sternquell</option>
        <option value="Störtebeker">Störtebeker</option>
      </optgroup>
      <optgroup label="T">
        <option value="Traugott Simon Kölsch">Traugott Simon Kölsch</option>
      </optgroup>
      <optgroup label="U">
        <option value="Uerige">Uerige</option>
        <option value="Ur-Krostitzer">Ur-Krostitzer</option>
        <option value="Ustersbacher">Ustersbacher</option>
      </optgroup>
      <optgroup label="V">
        <option value="Veltins">Veltins</option>
        <option value="Vitamalz">Vitamalz</option>
      </optgroup>
      <optgroup label="W">
        <option value="Brauerei Wasserburger">Brauerei Wasserburger</option>
        <option value="Weissbräu-Unertl">Weissbräu-Unertl</option>
      </optgroup>
      <optgroup label="Z">
        <option value="Zunft Kölsch">Zunft Kölsch</option>
        <option value="Zwiefalter Klosterbräu">Zwiefalter Klosterbräu</option>
      </optgroup>
    </select>
  </div>
  <div class="filter mr-4">
    <p>Sorten: </p>
    <select #typeOfBeerEl class="text-black p-2 rounded" (change)="onChange($event.target)">
      <option value=""></option>
      <option value="Ale">Ale</option>
      <option value="Alkoholfrei">Alkoholfrei</option>
      <option value="Bock">Bock</option>
      <option value="Dunkel">Dunkel</option>
      <option value="Export">Export</option>
      <option value="Helles">Helles</option>
      <option value="Kellerbier">Kellerbier</option>
      <option value="Malz">Malz</option>
      <option value="Pils">Pils</option>
      <option value="Radler">Radler</option>
      <option value="Schwarzbier">Schwarzbier</option>
      <option value="Stout">Stout</option>
      <option value="Weizen">Weizen</option>
    </select>
  </div>
</div>
