<div class="flex flex-row flex-wrap mb-4">
  <div class="filter mr-4">
    <p>Marken: </p>
    <select #brandSelectEl class="text-black p-2 rounded" (change)="onChange($event.target)">
      <option value=""></option>
      @if (letters$ | async; as lettersMap) {
        @for (letter of lettersMap.values(); track letter) {
          <optgroup [label]="letter.letter">
            @for (brand of letter.brands; track brand) {
              <option [value]="brand.name">{{ brand.name }}</option>
            }
          </optgroup>
        }
      }
    </select>
  </div>
</div>

