@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #FFD70A;
$grey-color: #454648;
$bg-color: #3B3B3B;

$global-font-color: #eee;
$global-font-weight: 400;
$global-font-family: Helvetica, sans-serif;
$global-font-size: 16px;

$path-header-image: 'assets/Header.png';
$path-background-image: 'assets/Hintergrund.jpg';

:root {
  --primary-color: #{
    $primary-color
  };
  --grey-color: #{
    $grey-color
  };
  --bg-color: #{
    $bg-color
  };
  --global-font-color: #{
    $global-font-color
  };
  --global-font-weight: #{
    $global-font-weight
  };
  --global-font-family: #{
    $global-font-family
  };
  --global-font-size: #{
    $global-font-size
  };
  --path-header-image: #{
    $path-header-image
  };
  --path-background-image: #{
    $path-background-image
  };
}

html, body {
  @apply m-0 p-0;

  font: var(--global-font-size) var(--global-font-family);
  font-weight: var(--global-font-weight);
  color: var(--global-font-color);

  &, & * {
    @apply box-border;
  }
}

body {
  @apply bg-auto bg-repeat-y bg-left-top;
  background-image: url($path-background-image);
}

@layer components {

  a {
    text-decoration: none;

    &, &:visited {
      color: var(--primary-color);
    }

    &:focus {
      outline: 1px dotted var(--primary-color);
    }

    &:hover {
      @apply underline;
    }
  }

  [role=button] {
    @apply cursor-pointer p-4 m-4 rounded-lg inline-block w-auto;
    background: rgba(0, 0, 0, 0.4);
  }

  .fat-outline {
    @apply block p-2 bg-transparent text-white rounded-lg text-2xl font-bold border-8;
    border-color: var(--primary-color);
  }

  button {
    @apply p-1 bg-transparent text-white rounded text-lg border-4;

    --button-border-color: var(--global-font-color);
    border-color: var(--button-border-color);

    &[type=submit] {
      --button-border-color: var(--primary-color);
    }

    &.has-error {
      --button-border-color: #f00;
    }
  }

  .app {
    @apply md:mx-auto md:my-0 md:max-w-[80vw];
  }
}
